---
import Layout from "../layouts/Layout.astro";
import { HeroCards } from "../components/HeroCards";
import { Features } from "../components/Features";
import { HotMarkets } from "../components/HotMarkets";
---

<Layout title="Boli - Social Predictions">
	<main class="max-w-7xl mx-auto px-6">
		<HeroCards client:load />
		<Features client:load />
		<HotMarkets client:load />
	</main>
</Layout>
